<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top sticky navbar-box-shadow">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    aria-controls="navigation-index"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
            </button>
            <div class="logo-mobile">
                <a href="/" class="logo-mobile">
                    <img src="https://res.cloudinary.com/haiku/image/upload/e_colorize,co_white/w_400/v1530889807/site/haiku_logo.png"
                         data-src-retina="https://res.cloudinary.com/haiku/image/upload/e_colorize,co_white/w_400/v1530889807/site/haiku_logo.png"/>
                </a>
            </div>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <!--your navbar here-->
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->